body{
    font-family: 'PT Sans', sans-serif;

    margin:auto;
    background-image: url(../img/back.jpg);
    overflow-x: hidden;
}

.superheader {
    display: flex;
    box-sizing: border-box;
    margin: -5px;
    border: 1px solid;
    background: transparent url(../content/header.jpg) no-repeat center;
    background-size: cover;
    height: 600px;
    min-width: 1200px;
    flex-wrap: wrap;
}
a,p,nav,img,form,button{
box-sizing: border-box;
}
#mainnav{
    flex-wrap: nowrap;
}
a{
    text-decoration: none;
    color:white;
}
ul,li{
    display: block;

    margin: 0;
}
.submenu a{
    color:#000;

}

.mainmenu{
    display:flex;
    color:#fff;
    background: none;
    max-height: 50px;

    border-bottom: 1px solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    white-space: nowrap;
    flex-wrap: wrap;
   

}
#mainnav, .subnav{
display: flex;


}


#mainnav li{
font-size: 30px;
margin-right: 25px;
margin-left: 5px;
font-stretch: expanded;

}
.subnav{





}
.subnav li{
margin-right: 10px;
}

#mainnav a:hover{
    color: blueviolet;

}
.submenu {

    color: #000;

}

#mainnav .item .submenu {
    position: absolute;
    background:rgba(255, 255, 255, 0.7);
    display: none;
    margin-top: 12px;
    padding: 10px;
  

  }
  #mainnav .item:hover .submenu {
    display: block;   

  }
.bewithme{
    display: flex;
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0,0);
    margin-left: 40%;
    margin-top: -70px;

}


  .content-main{
      display:flex;
      flex-direction: column;
      align-items: flex-start;

}
.content-main div{

    margin-left: auto;
    margin-right: auto;

}
.firstcontent{
    display: block;
    box-sizing: border-box;
    flex:1;
    border: none;
    margin-top: -80px;
    background:rgba(0, 0, 0, 0.9);
    text-align: center; 
    min-width: 1200px;
    min-height:400px;
    width: 1200px;
    height:400px;
    padding: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #5b5b5b;
}
.firstcontent h1{
    margin: 0 0 27px 0;
    padding: 20px;
    font-size: 80px;
    color: #a2b38e;


}
.firstcontent h4{
    font-size: 30px;
    font-weight: 400;
    color: #fff;


}
.firstcontent h4:last-child{
    color:firebrick;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.secondcontent{
    display: block;
    box-sizing: border-box;
    flex:1;
    border: none;
    margin-top: 40px;
    background:url(../img/1111.png);
    text-align: center; 
    min-width: 1200px;
    min-height:400px;
    width: 1200px;
    height:400px;
    padding: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #5b5b5b;

}

.divtext{
display: flex;
border:none;
height: 395px;
width: 300px;
background: white;
margin-right: -32px;
margin-left: auto;
margin-top: -30px;
padding-right: 10px;
text-align: right;
padding-bottom: 5px;
padding-top: -15px;
}
.divtext a{
    color: peru;
}
.divtext small{

}
.divtext small:hover{

  color: greenyellow;
 
}

.thirdcontent{
    display: flex;
    width: 1200px;
    max-width: 1200px;
    margin-top: 40px;
    max-height: 762px;
    flex-wrap: wrap;
    flex-direction: column;

}
.thirdcontent div{

    margin: 13px;

    width: 380px;
}

.box-1{
    height: 479px;

    background: url(../img/83MTwHtw0401111111111.jpg);
    position: relative;
    
}
.box-2{
    height: 225px;
    background: url(../img/styan.jpg);
    position: relative;
}
.box-3{
    height: 225px;
    background: url(../img/styan2.jpg);
    position: relative;
}
.box-4{
    height: 225px;
    background: url(../img/ebalo.jpg);
    position: relative;
}
.box-5{
    height: 479px;
    background: url(../img/pasp11111.jpg);
    position: relative;
    
}
.box-6{
    height: 225px;
    background: url(../img/zagadochniy.jpg);
    position: relative;
}
.box-7{
    height: 225px;
    background: url(..//img/klub.jpg);
    position: relative;
}

.cardlink{
    position: absolute;
    display: flex;
    align-items:center;
    justify-content: center;
    top:50%;
    left: 50%;
}
.cardlink img{
    width: 64px;
    margin-left: -16px;
    margin-top:-16px;
    opacity: 0;

}
 .cardlink img:hover{
    display:flex;
    opacity:1;
    
}

.fourthcontent{
    display: block;
    border: none;
    margin-top: 40px;
    background:url(../content/box.jpg) ;
    text-align: center; 
    min-width: 1200px;

}
.fourthbox{
    width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
min-height: 400px;

flex-direction: row;
margin-left: auto;
margin-right: auto;
flex-wrap: nowrap;
}
.fourthbox .icon{
    
}

.fourthcont1{
width: 380px;
white-space: normal;
padding: 10px;
margin: 5px;
margin-right: 40px;
display: flex;
flex-wrap: wrap;
text-align: left;
}

.fourthcont2{
    width: 380px;
    white-space: normal;

padding: 10px;
margin: 5px;
margin-right: 40px;
display: flex;
flex-wrap: wrap;
text-align: center;
}

.fourthcont3{
    width: 380px;
    white-space: normal;
    text-align: right;
padding: 10px;
margin: 5px;
margin-right: 40px;
display: flex;
flex-wrap: wrap;
}
.txt{
    margin-top: -120px;
}
.txt a{
    color:pink;
}

footer{
    background: #141312;
    min-width: 1200px;

}

.footerend{
    display: block;
    border: none;
    background:url(../img/home.jpg) no-repeat 50% 50%;
    text-align: center; 
    min-width: 1200px;
    min-height: 400px;

}